@charset "ISO-8859-1";

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.input_form
{
	 padding: 112px ;
	 max-width: 400px;
	 height: 220px;
	 margin: 10px
	 
}

.response_div_field
{
	 padding: 112px ;
	 max-width: 400px;
	 height: 220px;
	 
}

